.grid {
  display: grid;
  place-items: start;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(8, 25vw);
  grid-template-areas:    "sl sl ih ig"
                          "l1 it it l2"
                          "l1 it it l2"
                          "i2 i2 sh is"
                          "i2 i2 ms l6"
                          "i3 i3 s5 l6"
                          "i3 i3 vb st"
                          ".  .  co mi";
  justify-items: stretch;
  align-items: stretch;
  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  > div {
    max-height: 100%;
  }
}
.grid__slider {
  grid-area: sl;
}
.grid__icon-heart {
  grid-area: ih;
}
.grid__icon-gear {
  grid-area: ig;
}
.grid__longtext-1 {
  grid-area: l1;
}
.grid__longtext-2 {
  grid-area: l2;
}
.grid__image-and-text {
  grid-area: it;
}
.grid__image-and-text-2 {
  grid-area: i2;
}
.grid__image-and-text-3 {
  grid-area: i3;
}
.grid__smalltext-html {
  grid-area: sh;
}
.grid__icon-star {
  grid-area: is;
}
.grid__image-small {
  grid-area: ms;
}
.grid__longtext-6 {
  grid-area: l6;
}
.grid__smalltext-5 {
  grid-area: s5;
}
.grid__video-block {
  grid-area: vb;
}
.grid__smalltext {
  grid-area: st;
}
.grid__colortext-olive {
  grid-area: co;
}
.grid__media-icons {
  grid-area: mi;
}