$color-bodyBackground: rgb(42,42,42);
$color-menuItem: rgb(255, 255, 255);
$color-darkText: rgb(42,42,42);
$color-lightText: rgb(142,132,112);
$color-brand-1: rgb(81,110,106);
$color-brand-2: rgb(106,59,53);
$color-brand-3: rgb(81,68,65);
$color-brand-4: rgb(64,67,75);
$color-brand-5: rgb(65,78,81);
$color-sliderBackground: rgb(142,132,112);
$color-borderDots: rgb(142,132,112);
$color-sliderArrows: rgb(42,42,42);