@import './colors.scss';
@import './fonts.scss';

body {
  margin: 0;
  background-color: $color-bodyBackground;
  overflow-x: hidden;
}
/*
All mixes related to elements positioning will be placed here.
*/
.header__logo {
  margin-top: 9px;
  margin-left: 13px;
}
.header__menu {
  margin-top: -42px;
  margin-right: 73px;
}
.slider__title {
  margin: 50px 0 0 75px;
}
.slider__text {
  margin: 11px 75px;
}
.border-dots-container__text {
  margin: 10px 0;
}
.colorfull-block__title {
  margin: 18% 0 2% 18%;
}
.colorfull-block__text {
  margin: 2% 8% 0% 18%;
  display: flex;
}
.text-block__text {
  margin: 0% 12% 5% 18%;
}
.text-block__list {
  > li {
    padding: 0 40px 0 59px;
    margin: 0;
  }
}